$dark_white: #c3c3c3

$mobile: "only screen and (min-device-width: 0px) and (max-device-width: 720px)"

body
  background: #190914 url('/images/background.jpg')
  background-attachment: fixed
  color: white
  font-family: Verdana, Geneva, sans-serif
  margin-left: 10%
  margin-right: 10%
  @media #{$mobile}
    font-size: 2em

table
  border-collapse: collapse
  width: 100%
  @media #{$mobile}
    font-size: 1em

table.content, table.content th, table.content td
  border: 1px solid $dark_white
  /* background-color: #190914; */
  background-color: #0f071d
  color: $dark_white

table.content th
  border: 1px solid $dark_white
  /* background-color: #190914; */
  background-color: #0f071d
  color: $dark_white

table.content td
  &.center
    text-align: center
  &.user
    padding-bottom: 10%

a
  text-decoration: none
  color: white

h1
  text-align: center
