<html>
  <head>
    <style>
    <%-= @style -%>
    </style>
  </head>
  <body>
    <h1><a href="/">Board</a></h1>
    <table>
      <tr>
        <td><p>This is some board software written in Crystal.</p></td>
        <%- if @user.logged_in? -%>
          <td align="right">Logged in: <%= @user.name %> | <a href="/logout">Logout</a></td>
        <%- else -%>
          <td align="right"><a href="/login">Login</a> | <a href="/register">Register</a></td>
        <%- end -%>
      </tr>
    </table>
    <hr>
    <%-= @content -%>
  </body>
</html>
