<html>
  <head>
    <style>
    <%-= @style -%>
    </style>
  </head>
  <body>
    <h1>Board</h1>
    <p>This is some board software written in Crystal.</p>
    <hr>
    <%-= @content -%>
  </body>
</html>
