<form action="/edit/profile" id="edit-profile" method="post">
  <table class="prominent content">
    <tr>
      <td width="25%">Title:</td>
      <td width="75%"><input size="40" type="text" name="title" value="<%= @user.title %>"></td>
    </tr>
  </table>
  <br>
  <center>
    <!-- ghetto, but I don't care -->
    <input type="submit" value="Submit">
  </center>
</form>
