<form action="/edit/profile" id="edit-profile" method="post">
  <div class="reply">
    <input type="text" name="title" value="<%= @user.title %>"><br>
    <br>
    <input type="submit" value="Submit">
  </div>
</form>
