<h3>Register</h3>
<form action="/register" id="register" method="post">
  Username:
  <input type="text" name="username">
  <br>
  Password:
  <input type="password" name="password">
  <br>
  <input type="submit" value="Submit">
</form>
